
<FORM NAME=INFO ACTION=cash/ METHOD=GET>
	<TABLE>
		<TR>
			<td> <label for="My Handicap">My Handicap</label>
			<td> <input type="text" id="MyHandicap" name="MyHandicap">
			<td> <label for="My Index">My Index</label>
			<td><input type="text" id="MyIndex" name="MyIndex">
		</TR>
	</TABLE>
	<br>
	<TABLE>
		<TR>
			<td> <label> </label>
			<td> <label> Oppo Handicap </label>
			<td> <label> Handicap/Level </label>
			<td> <label> Result </label>
			<td> <label> New Index </label>
		</TR>
		<TR>
			<td> <label>Game 1 </label>
			<td><input type="text" id="OppoHandicap1" name="OppoHandicap1">
			<td><input type="text" id="GameType1" name="GameType1">
			<td><input type="text" id="Result1" name="Result1">
			<td><input type="text" id="NewIndex1" name="NewIndex1">
		</TR>
	</TABLE>
	<br>
	<div class="button">
		<button type="submit">Calculate</button>
	</div>
</form>

